.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.visible {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.maintitile {
  color: rgb(189, 129, 50);
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.acout_sm_mk {
  display: inline-block;
  position: relative;
  padding: 10px;
  color: rgb(189, 129, 50);
  cursor: pointer;
  text-decoration: none;
  
}

.acout_sm_mk::before, .loAcount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(189, 129, 50);
  transition: width 0.5s ease;
  z-index: -1;
  border-radius: 10px;
}

.acout_sm_mk:hover::before, .loAcount:hover::before {
  width: 100%;
}

.acout_sm_mk:hover, .loAcount:hover {
  color: rgb(255, 255, 255);
}

.acountsButtons {
  color: rgb(189, 129, 50);
  margin-right: 20px;
  margin-left: 20px;
  padding: 7px;
}

.loAcount {
  padding: 12px;
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  color : rgb(189, 129, 50);
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menue {
  margin-right: 20px;
  display: none;
}

.center {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
  color: rgb(189, 129, 50);
  font-weight: bold;
}
.maintitile{
  transition-property:transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay : 0.2s;
}
.maintitile:hover{
  transform: scale(1.3);
}

@media all and (max-width: 500px) {
  .appBar {
    display: flex;
  }
  .maintitile {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40%;
  }
  .acout_sm_mk {
    font-size: 10px;
  }
  .acountsButtons {
    display: none;
  }
  .loAcount {
    font-size: 10px;
  }
  .menue {
    display: block;
  }
  .smAcounts {
    display: none;
  }
  .center {
    font-size: 30px;
  }
}
