<div class="colmain">
  <div class="container">
    <div class="buttons">
      <div class="button">
        <a>About us</a>
      </div>      
      <div class="button">
        <a>Service</a>
      </div>
      <div class="button">
        <a>Healthy Food</a>
      </div>
      <div class="button">
        <a>Contacts</a>
      </div>
      <div class="button">
        <a>Post</a>
      </div>
    </div>
  </div>
  <div class="homepage">
    <div class="row">
      
    </div>
    <div class="maintitle">
      <h1 class="malaktitle">Di Malak kherfi</h1>
    </div>

    <div class="info">
      <div class="imagedi">
        <img class="diim" src="assets/images/malak.jpg" alt="di">
      </div>

      <div class="row">
        <div class="information">
          <h1 class="name">Malak Kherfi</h1>
          <h2>Nutrition consultant</h2>
          <p>Make your food healthy</p>
        </div>
        <div class="contacts">
          <h1>Contacts</h1>

          <div class="row">

          </div>
          
          <div class="contact">
            <img src="assets/icons/phone.png" alt="phone">
            <p>0123456789</p>
          </div>
          <div class="contact">
            <img src="assets/icons/location.png" alt="location">
            <p>Tougourt</p>
          </div>
          <div class="contact">
            <img src="assets/icons/email.png" alt="email">
            <p>0123456789</p>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>
